/*
    style.css
            Author:         Aaron Henderson
            Date:           4/13/2021
            Last Revised:   4/13/2021
            Purpose:        Styling for Twisted Vinyl website
*/

body {
    background: #FFF;
    font-family: Helvetica, sans-serif;
    font-size: 1.1em;
    margin: 0;
}

header {
    background: #46B4C3;
}

header p {
    text-align: right;
    display: inline;
    font-size: 64pt;
    float: right;
    margin-right: 150px; 
    margin-top: 60px; 
}

nav {
    background-color: #46B4C3;
    display: block;
    padding: 0;
    top: 0;
    width: 100%;
    height: 50px;
    z-index: 5;
}

nav a {
    display: block;
    float: left;
    margin-left: 150px;
    color: #F9F9F9;
    width: 150px;
    text-decoration: none;
    position: relative;
    top: 20px;
    text-align: center;
}

nav a:hover {
    color: #00F;
    border-bottom: 2px solid #00F;
}

h1 {
    margin: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

p {
    margin: 20px;
    padding-left: 80px;
    padding-right: 80px;
}
