/*
    Author: Emily Ervin
    Date: 4/22/21
    Assignment: CSCI 1210 Semester Project
    Purpose: CSS for Gallery Page
*/

/* body format */

body {
    background-color: #13809F;
    margin: 10px;
}

/* formats the navigation bar */
nav {
    background-color: black;
    width: 100%;
    text-align: center;
    padding: 10px;
    display: block;
}

nav a {
    color: white;
    font-family: "Cookie", cursive;
    font-size: 40px;
}


/* Formats rows and columns of pictures for the gallery */

h1 {
    font-family: "Cookie", cursive; /** Sets the font to the Google font 'Cookie' **/
    font-size: 45px;
    font-weight: normal;
    text-align: center;
    background-color: black;
    color: rgb(207,234,241);
    padding-bottom: 5px;
    padding-top: 5px;
}

/* formats header image and text to be side by side */
.header img {
    float: left;
    width: 1000px;
    height: 390px;
}

.header h1 {
    position: relative;
    top: 18px;
    left: 10px;
    font-size: 80px;
    background-color: rgba(0,0,0,0);
    color: white;
}

/* formatting for image rows */
.row {
  display: flex;
    background-color: #5FB8D2;
}

.column5 {
  flex: 20%;
  padding: 5px;
}

/* formatting for paragraph element */
p {
    font-family: sans-serif;
    padding-left: 50px;
    padding-right: 50px;
    font-size: large;
    color: white;
}

footer {
    display: block;
    font-family: sans-serif;
    font-size: large;
    color: white;
    background-color: white;
    width: 100%;
    text-align: center;
}
    
